@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: hsl(216, 12%, 54%);
  --hover-button: hsl(25, 97%, 53%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(216, 12%, 8%);
}
.rating-container,
.thankyou-container {
  background-color: hsl(212, 18%, 14%);
}

.text-color {
  color: var(--text-color);
}
ul li:hover {
  background-color: white;
}
ul li {
  color: hsl(217, 12%, 63%);
  background-color: hsl(213, 19%, 18%);
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 20px;
}

.btn {
  background-color: var(--hover-button);
}

.select-score {
  color: var(--hover-button);
  background-color: hsl(213, 19%, 18%);
  width: fit-content;
}

.btn:hover {
  background-color: white;
  color: var(--hover-button);
}
